body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

form label, form input, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px
}

/* A propriedade display: block no CSS transforma um elemento HTML em um "bloco" 
que ocupa toda a largura disponível, forçando outros elementos a ficarem em 
novas linhas, tanto antes quanto depois dele */

form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

form button{
    background-color: #28a745;
    color: white;
    padding: 15px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

ul{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li{
    margin: 15px;
    font-size: 16px;
    border-bottom: #ccc solid 2px;
}

li strong{
    font-style: italic;
    margin-left: 20px;
}