body{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 1%;
    margin-top: 3%;
    border: 2px solid rgba(221, 221, 221, 0.719);
    border-radius: 12px;
}

h1{
    text-align: center;
}

label {
    display: flex;
    margin-bottom: 0.1%;
}

input{
    width: 45%;
    padding: 0.7%;
    border-radius: 5px;
}

button{
    color: rgb(12, 107, 0);
    border-radius: 5px;
    background-color: rgb(179, 243, 161);
    border-left-color: rgb(198, 247, 187);
    border-top-color: rgb(198, 247, 187);
    border-bottom-color: rgb(147, 196, 123);
    border-right-color: rgb(147, 196, 123);
    padding: 0.5%;
    width: 10%;
    min-width: 75px;
}

ul li{
    padding: 1%;
}