body{
    text-align: center;
}

body button{
    display: flexbox;
    padding: 15px;
    width: 15px;
    height: 15px;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px black;
}